<ion-item class="item">
  <div class="item">
    <span class="item-note" align="left" ng-bind="vm.display.party.type | uppercase"></span>
    <h2>Interested Party:</h2>
    <br>
    <span class="item-note" align="left">{{vm.display.party.firstName}}&nbsp;{{vm.display.party.lastName}}</span>
    <h2>Name:</h2>
  </div>
  <br>
  <div class="item" bottom-shadow>
    <input class="item-note" align="left" ng-model="vm.display.party.email"></input>
    <p>Email:</p>
  </div>
  <br>
  <div class="item" bottom-shadow>
    <input class="item-note" align="left" ng-model="vm.display.party.phone"></input>
    <p>Phone:</p>
  </div>
  <br>
  <ion-item>
      <button class="button button-center button-block button-dark" align="center" ng-click="vm.events.updateParty(vm.display.party)">Save</button>
  </ion-item>
</ion-item>
