<ion-list>
    <div class="row header">
      <div class="col">Message Body</div>
      <div class="col">From Status</div>
      <div class="col">To Status</div>
    </div>
    <div class="row" ng-repeat="entry in vm.display.catalog">
      <div class="col">{{entry.body}}</div>
      <div class="col">{{entry.fromStatus}}</div>
      <div class="col">{{entry.toStatus}}</div>
    </div>
</ion-list>
<!-- NO ACTIVITY LOGS -->
<ion-list ng-if="vm.display.catalog.length === 0">
    <ion-item class="item-text-wrap">
        There are no catalog entries at this time
    </ion-item>
</ion-list>
